<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.gid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.584799141962-cbnd0u748aup2m0da500o7d2hig4cqth</string>
			</array>
		</dict>
	</array>
    <key>NSHealthShareUsageDescription</key>
    <string>We need access to your health data to sync your activity metrics, including steps, exercise time, sleep, and heart rate.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>We need permission to update your health data to keep your activity information synchronized.</string>
    
</dict>
</plist>
